##============== terraform .gitginore ==============##
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/terraform.tfvars
terraform/*.tfplan


##============== secrets and cred for local use. ==============##
~/*
@cmd-ref.md