workflow:
  name: Build and Deploy Web App
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'

stages:
  - deployment

deployment:
  stage: deployment
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - chmod 600 "$EC2_SSH_KEY"
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - echo "==== Running deployment script remotely. ===="
    - ssh -i "$EC2_SSH_KEY" ubuntu@$EC2_HOST \
      "cd /home/ubuntu/cloudprofile/crud-api && chmod +x Deployment.sh && bash Deployment.sh"
